{% extends 'base.html' %}
{% block title %}
    <title>show</title>
{% endblock %}

{% block content %}
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>SALARY</th>
                <th>EXPERIENCE</th>
                <th>UPDATE</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            {% for i in obj %}
            <tr>
                <td>{{i.tid}}</td>
                <td>{{i.name}}</td>
                <td>{{i.sal}}</td>
                <td>{{i.exp}}</td>
                <td><a>UPDATE</a></td>
                <td><a>DELETE</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}